<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    </head>

    <body>
        <script src="{{url_for('static', filename='js/index.js')}}"></script>
        <div class="header">
            <div class="icon">
                <div class="item"></div>
            </div>
        </div>
        <div class="container">
            <div class="directory">
                {{directory|safe}}
            </div>
            <div class="request-response">
                {{request|safe}}
                <br />
                <hr />
                <br />
                {{response|safe}}
            </div>
        </div>
    </body>

</html>