<!-- 导入css -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/request.css') }}" />

<table class="request-table">
    <tr>
        <td>
            <span title="type">请求方式</span>
            <!-- 信息按钮，悬停显示提示信息 -->
            <img class="request-icon" src="{{ url_for('static', filename='pic/info.png') }}"
                title="api: 接口请求&#10;browser: 浏览器请求" />
        </td>
        <td>
            <!-- 下拉菜单 -->
            <select class="input-data request-select" id="type" aria-label="type">
                <option value="api">api</option>
                <option value="browser">browser</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <span title="url">请求链接</span>
            <img class="request-icon" src="{{ url_for('static', filename='pic/info.png') }}"
                title="填写对应阶段的链接，可以使用可变参数进行填充&#10;此设置会被上个阶段中的next_url字段覆盖" />
        </td>
        <td>
            <input class="input-data request-input" id="url" type="text" aria-label="url" />
        </td>
    </tr>
    <tr>
        <td>
            <span title="method">请求方法</span>
            <img class="request-icon" src="{{ url_for('static', filename='pic/info.png') }}"
                title="GET: 获取数据&#10;POST: 提交数据" />
        </td>
        <td>
            <select class="input-data request-select" id="method" aria-label="method">
                <option value="GET">GET</option>
                <option value="POST">POST</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <span title="iteration_times">请求次数</span>
            <img class="request-icon" src="{{ url_for('static', filename='pic/info.png') }}"
                style="vertical-align: middle;"
                title="填写对应阶段的请求次数，此设置会影响该阶段链接和携带数据中的可变参数&#10;此设置会被上个阶段中的next_iteration_times字段覆盖" />
        </td>
        <td>
            <input class="input-data request-input request-input-number" id="iteration_times" type="number" min="1"
                value="1" aria-label="iteration_times" />
        </td>
    </tr>
    <tr>
        <td>
            <span title="proxy">请求代理</span>
            <img class="request-icon" src="{{ url_for('static', filename='pic/info.png') }}"
                title="填写对应阶段的请求代理，此设置会影响api方式获取响应" />
        </td>
        <td>
            <input class="input-data request-input" id="proxy" type="text" aria-label="proxy" />
        </td>
    </tr>
    <tr>
        <td>
            <span title="headers">请求头</span>
            <img class="request-icon" src="{{ url_for('static', filename='pic/info.png') }}" title="对应阶段的请求头" />
        </td>
        <td>
            <textarea class="input-data request-textarea" id="headers" rows="4" cols="50"
                aria-label="headers"></textarea>
        </td>
    </tr>
    <tr>
        <td>
            <span title="query_params">query参数</span>
            <img class="request-icon" src="{{ url_for('static', filename='pic/info.png') }}"
                title="对应阶段的query参数，请输入json格式" />
        </td>
        <td>
            <textarea class="input-data request-textarea" id="query_params" rows="4" cols="50"
                aria-label="query_params"></textarea>
        </td>
    </tr>
    <tr>
        <td>
            <span title="json_params">json参数</span>
            <img class="request-icon" src="{{ url_for('static', filename='pic/info.png') }}"
                title="对应阶段的json参数，请输入json格式" />
        </td>
        <td>
            <textarea class="input-data request-textarea" id="json_params" rows="4" cols="50"
                aria-label="json_params"></textarea>
        </td>
    </tr>
    <tr>
        <td>
            <span title="form_params">form参数</span>
            <img class="request-icon" src="{{ url_for('static', filename='pic/info.png') }}"
                title="对应阶段的form参数，请输入json格式" />
        </td>
        <td>
            <textarea class="input-data request-textarea" id="form_params" rows="4" cols="50"
                aria-label="form_params"></textarea>
        </td>
    </tr>
    <tr>
        <td>
            <span title="dont_filter">链接去重</span>
            <img class="request-icon" src="{{ url_for('static', filename='pic/info.png') }}" title="请求链接是否去重" />
        </td>
        <td>
            <select class="input-data request-select" id="dont_filter" aria-label="dont_filter">
                <option value="True">不去重</option>
                <option value="False">去重</option>
            </select>
        </td>
    </tr>
</table>