.directory-ul {
    list-style-type: none;
    padding: 0;
}
.directory-ul>li {
    justify-content: space-between;
    
}

.directory-ul>li:hover {
    background-color: #ddd;
    cursor: pointer;
}

.directory-list-left {
    vertical-align: middle;
    /* 左对齐 */
    text-align: left;
}

.directory-list-right {
    text-align: right;
    vertical-align: middle;
    
   
}

.directory-list-right>img {
    width: 8%;
    height: 2%;
    object-fit: cover;
    vertical-align: middle;
}