.directory-ul {
    list-style-type: none;
    margin: 1.5vh 2vh;
}

.directory-ul>li {
    padding: 1vh 2vh;
    margin: 0.5vh 0;
    display: flex;
    justify-content: space-between;
    /* 圆角 */
    border-radius: 5px;
}

.directory-ul>li:hover {
    background-color: #ddd;
    cursor: pointer;
}

.directory-list-left {
    vertical-align: middle;
    /* 左对齐 */
    text-align: left;
}

.directory-list-right {
    text-align: right;
    vertical-align: middle;
}

.directory-list-right>img {
    width: 1vw;
    height: 1vw;
    /* 最大 */
    max-width: 20px;
    max-height: 20px;
    /* 最小 */
    min-width: 10px;
    min-height: 10px;
    object-fit: cover;
    vertical-align: middle;
}