  /* {
    width: 100%;
    background-color: #11a2bc;
    padding: 0%;
} */

ul {
    list-style-type: none;
    padding: 0;
}

button {
    margin-top: 5%;
}

/* /悬停效果     */
ul li:hover {
    background-color: #ddd;
    cursor: pointer;
}