/* 清除默认 */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d8feff;
}

.header {
    height: 5vh;
    /* 内边距1vh */
    padding: 1vh;
}

.icon {
    width: 5vh;
    height: 5vh;
}

.item {
    height: 100%;
    background-color: rgb(40, 40, 40);
    border-radius: 0.7vh;
    box-shadow: 0 0 1.5vh rgba(0, 0, 0, .5);
    border-left: solid 1.5vh #fff;
}

.item::after,
.item::before {
    content: '';
    width: 0.6vh;
    height: 0.6vh;
    display: block;
    position: absolute;
    border-radius: 50%;
    left: 2.4vh;
    background-color: #fff;
}

.item::after {
    position: absolute;
    top: 3.3vh;
}

.item::before {
    position: absolute;
    bottom: 3.3vh;
}

.container {
    height: 92vh;
    display: flex;
}

::-webkit-scrollbar {
    width: 0px;
}

.container div {
    overflow-y: auto;
    /* 边框: 虚线 */
    border: 1px dashed #000000;
    /* 内边距 */
    padding: 10px;
}

.container .directory {
    width: 15%;
}

.container .request {
    width: 34%;
}

.container .response {
    width: 51%;
}