.request-table {
    /* 宽度等于父容器 */
    width: 100%;
    border-collapse: separate;
    border-spacing: 1vh 1vh;
}

/* tr下的第一个td占30%的宽 */
.request-title {
    width: 25%;
    font-size: 2vh;
}

.request-content {
    width: 75%;
}

.request-table td,
.request-table td * {
    /* 上下居中 */
    vertical-align: middle;
}

.request-icon {
    /* 默认 */
    width: 8%;
    height: 8%;
    /* 最大 */
    max-width: 15px;
    max-height: 15px;
    /* 最小 */
    min-width: 10px;
    min-height: 10px;
    vertical-align: middle;
}

.input-data {
    /* 无边框 */
    border: none;
    /* 下边框 */
    border-bottom: 1px solid #000000;
    /* 圆角 */
    border-radius: 3px;
    /* 右下阴影 */
    box-shadow: 2px 1px 2px #888888;
    /* 字体大小 */
    font-size: 2.2vh;
}

.input-data:focus {
    /* 聚焦时无边框 */
    outline: none;
}

.request-textarea {
    /* 不允许更改大小 */
    resize: none;
    width: 80%;
    padding: 0.5vh 1vh;
}

.request-select {
    /* 背景色 */
    background-color: #ffffff;
    /* 鼠标悬停时样式 */
    cursor: pointer;
    /* 宽度 */
    width: 30%;
    padding: 0.5vh 1vh;
}

.request-input {
    width: 60%;
    padding: 0.5vh 1vh;
}

.request-input-number {
    width: 30%;
    padding: 0.5vh 1vh;
}

.request-input-number:focus {
    outline: none;
}